.fixed-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  width: 60px; 
  height: auto;
  margin-right: 10px; 
}

.navbar .logo span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff0000; 
}

.content-container {
  margin-top: 80px; 
  padding-top: 20px;
  text-align: center;
}

.content-container h2 {
  font-size: 2rem;
  color: #333;
}

.content-container p {
  font-size: 1rem;
  color: #666;
}

.portada-container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  gap: 20px;               
  height: 500px;
  width: 100%;
  padding: 0 20px;         
}

.portada-img {
  width: 45%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.portada-img:hover {
  transform: scale(1.05);
}
